* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.slim-column-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}


p {
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  20px 90px;
    background-color: #468055;
}

.menu {
    display: flex;
    gap: 40px;
}

header a{
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.to-form {
    padding: 14px 40px;
    background-color: white;
    border-radius: 15px;
    transition: 0.3s;
}

.to-form:hover {
    background-color: #f2c29f;
}

.to-form a{
    color: black;
    font-size: 16px;
    font-weight: 700;

}

main {
    padding:  0px 90px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 24px; 
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

#about img {
    height: 350px; 
    width: 350px;
    border-radius: 15px;
}

#about .intro-info {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 48px; 
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.gallery-item {
    width: 650px; 
    height: 350px; 
    object-fit: cover;
    border-radius: 15px;
}


#contact {
    margin: 20px;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 420px;
    gap: 15px;
}

form div {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 0px 12px;
    height: 45px;
    border: 1px solid gray;
    border-radius: 12px;
}

form textarea {
    padding: 12px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 12px;
}

form button {
    height: 50px;
    border: 0px;
    background-color: #468055;
    font-weight: 700;
    color: white;
    border-radius: 12px;
    transition: 0.3s;
}

form button:hover {
    background-color: #244d2f;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 14px;
    color: gray;
}
