body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}


p {
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    padding:  30px 80px 0px;
}

header img {
    height: 150px; 
    width: 150px;
    border-radius: 15px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 80px;
}

section {
    display: flex;
    flex-direction: column;
}

#contact {
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form div {
    display: flex;
    flex-direction: column;
}

form input {
    height: 40px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 12px;
}

form textarea {
    height: 100px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 12px;
}

form button {
    height: 40px;
    width: 400px;
    border: 0px;
    background-color: #2CA2F1;
    font-weight: 700;
    color: white;
    border-radius: 12px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: none;
}

li {
    margin-bottom: 15px;
}
